.wrapper{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.title{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    border-bottom: solid 3px green;
}
.product{
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 100%;
    border-radius: 5px;
    box-shadow: 0 0 40px black;
    justify-content: center;
    align-items: center;
}
.block_product{
    display: flex;    
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.photo{
    display: flex;
    width: 45%;
}

.order_description{
    display: flex;
    width: 45%;
    height: 500px;
    flex-direction: column;
    justify-content: space-around;
    align-self: flex-start;
    align-items: center;
    text-align: center;
}


.aboutProduct{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}

.price{
    display: flex;
    flex-direction: row;
    width: 70%;
    justify-content: space-around;
    align-items: center;
}

.priceText{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-weight: 650;
}

.priceNumber{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-weight: 700;
}

.buy{
    display: flex;
    height: 70px;
    width: 95%;
    justify-content: center;
    align-items: center;
    font-size: 32px;
    font-weight: 650;
    border-radius: 5px;
    font-family: 'Play', sans-serif;
    border: 2px solid #afafaf;
    background-color: transparent;
    cursor: pointer;
}

.buy:hover{
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    box-shadow:0 0 10px black;
}

.yourOrder{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 26px;
    font-weight: 800;
    margin-bottom: 10px;
}

.modalWindow{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    font-weight: 650;
    text-decoration: none;
    margin-bottom: 5px;
}

.modalWindow >a{
    text-decoration: none;
    color:green;
}

.modalWindow >a:hover{
    text-decoration: underline;
}

.seeMore{
    display: flex;
    width: 90%;
    height: 60px;
    justify-content: center;
    align-items: center;
    font-size: 26px;
    font-weight: 650;
    flex-direction: row;
    border: none;
    box-shadow: 0 0 40px black;
    border-radius: 5px;
    cursor: pointer;
}

.seeMore:hover{
    color:green;
}

.seeMore>img{
    display: flex;
    align-self: flex-start;
    width: 40px;
    height: 40px;
    margin: 10px;
}

.details{
    display: flex;
    flex-direction: column;
    width: 90%;
    justify-content: center;
    align-items: center;
}

.block_details{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: flex-start;
    align-items: flex-start;
}

.details_title{
    display: flex;
    width: 100%;
    margin-top: 10px;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-weight: 700;
    text-align: center;
}

.detail-item{
    display: flex;
    font-size: 20px;
}

.detail-item1{
    display: flex;
    font-size: 20px;
    width: 310px;
}
.image_product{
    display: flex;
    justify-content: center;
    width: 90%;
}

.ul{
    display: flex;
    width: 100%;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

    li{
    color: green;
}

    li>span{
    color:black;
}

.carousel .control-dots .dot {
    background: green!important;
    opacity: 0.65!important;
}

.carousel .control-next.control-arrow:before {
    border-left: 8px solid black!important;
}

.carousel .control-prev.control-arrow:before {
    border-right: 8px solid black!important;
}

.carousel .carousel-status {
    text-shadow: none!important;
    font-size: 12px!important;
    font-weight: bold;
    color: black!important;
}

@media (max-device-width:1000px){
    .order_description{
        justify-content: space-evenly;
        height: 470px;
    }
    .aboutProduct{
        font-size: 18px;
    }
    .buy{
        width: 90%;
        height: 65px;
        font-size: 28px;
    }
    .priceNumber{
        font-size: 22px;
    }
}

@media (max-device-width:900px){
    .order_description{
        justify-content: space-around;
        height: 440px;
        width: 50%;
    }
    .buy{
        width: 85%;
        height: 60px;
        font-size: 26px;
    }
    .aboutProduct{
        font-size: 18px;
    }
    .priceNumber{
        font-size: 20px;
    }
}

@media (max-device-width:790px){
    .block_product{
        flex-direction: column;
        align-items: center;
    }
    .order_description{
        width: 100%;
        height: 330px;
    }
    .buy{
        margin-bottom: 15px;
    }
}

@media (max-device-width:640px){
    .order_description{
        height: 370px;
    }
}

@media (max-device-width:521px){
    .order_description{
        height: 415px;
    }
    .aboutProduct{
        font-size:16px;
    }
}