.iFooterWrapper{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 200px;
    background: linear-gradient(#4beb4b,#0b3b0b);
}
.iFooterLogo{
    display: flex;
    width: 30%;
    align-items: center;
    justify-content: center;
    font-size: 54px;
    font-weight: 600;
    color: white;
    opacity: 0.75;
    text-shadow: 0 0 25px black;

}
.logo_img1{
    height: 50px;
    filter: drop-shadow(0 0 40px black);
    margin:0 5px 0 5px;
}


.iFooterAbout{
    display: flex;
    flex-direction: column;
    width: 30%;
    justify-content: center;
    align-items: center;
    font-size: 24px;
   
}
.iFooterAbout>p{
    font-size: 18px;
    text-align: center;
   
}
.iFooterContacts{
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 100%;
    justify-content: space-evenly;
    align-items: center;
    font-size: 24px;
   
}
.iFooterPhone, .iFooterMail{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 60%;
    align-items: flex-end;
}
.iFooterPhone>img, .iFooterMail>img{
    width: 25px;
    height: 25px;
}
.iFooterPhone>a, .iFooterMail>a{
    font-size: 20px;
    text-decoration: none;
    color: white;
}
.iFooterSocial{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 70%;
}
.iFooterSocial>img{
    cursor: pointer;
    width: 40px;
    height: 40px;
}

@media (max-device-width: 1440px) and (min-device-width: 1024px){
    .iFooterLogo{
        font-size: 72px;
    }
    .logo_img1{
        height: 70px!important;
    }
    .iFooterAbout{
        font-size: 20px;
    }
    .iFooterAbout>p{
        font-size: 18px;
    }
    .iFooterContacts{
        font-size: 22px;
        width: 35%;
    }
    .iFooterPhone>a, .iFooterMail>a {
        font-size: 20px;
    }
}
@media (max-device-width: 1024px) and (min-device-width: 768px){
    .iFooterLogo{
        font-size: 72px;
        width: 50%;
    }
    .logo_img1{
        height: 50px!important;
    }
    .iFooterAbout{
        display: none;
        visibility: hidden;
    }
    
    .iFooterContacts{
        font-size: 22px;
        width: 50%;
    }
    .iFooterPhone>a, .iFooterMail>a {
        font-size: 20px;
    }
}
@media (max-device-width: 768px) and (min-device-width: 425px){
    .iFooterLogo{
        font-size: 54px!important;
    }
    .logo_img1{
        height: 50px!important;
    }
    .iFooterContacts{
        font-size: 20px!important;
    }
}

@media (max-device-width: 768px) and (min-device-width: 375px){
    .iFooterWrapper{
        flex-direction: column;
        height: 350px;
    }
    .iFooterLogo{
        width: 100%;
        font-size: 45px;
        height: 30%;
        margin-bottom: 10px;
    }
    .logo_img1{
        width: 20px;
        height: 47px;
    }
    .iFooterAbout{
        display: none;
        visibility: hidden;
    }
   
    .iFooterContacts{
        width: 100%;
        height: 100%;
        font-size: 18px;
    }
    .iFooterPhone, .iFooterMail{
        width: 75%;
        height: 10%;
    }
    .iFooterSocial{
        width: 85%;
    }
    .iFooterSocial>img{
        width: 45px;
        height: 45px;
    }
}

@media (max-device-width: 375px) and (min-device-width: 320px){
    .iFooterWrapper{
        flex-direction: column;
        height: 350px;
    }
    .iFooterLogo{
        width: 100%;
        font-size: 35px;
        height: 30%;
        margin-bottom: 10px;
    }
    .logo_img1{
        width: 18px;
        height: 37px;
    }
    .iFooterAbout{
        display: none;
        visibility: hidden;
    }
    .iFooterContacts{
        width: 100%;
    }
    .iFooterContacts>p{
        display: none;
        visibility: hidden;
    }
    .iFooterPhone, .iFooterMail{
        width: 75%;
    }
    .iFooterSocial{
        width: 85%;
    }
    .iFooterSocial>img{
        width: 45px;
        height: 45px;
    }
}